<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – решение задач</title>
    @Styles.Render("~/Content/css/css")
    @Styles.Render("~/Content/awesome")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" id="example-navbar-collapse">
                        <span class="sr-only">Навигация</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("ГЛАВНАЯ", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav">
                        
                        <li>
                            @Html.ActionLink("Все задачи для свободного просмотра", "Index", "MathTask")
                        </li>

                        <li>
                            @Html.ActionLink("Генератор LaTeX", "LaTeX", "Home")
                        </li>

                        <li>
                            @Html.ActionLink("Тренажер: кодирование и булева алгебра", "Trenager", "Home")
                        </li>
    

                        <li class="divider-vertical"></li>'
                        
                        @if (User.IsInRole("Administrator"))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Пользователи<b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Просмотр пользователей", "Index", "Account")</li>
                                    <li>@Html.ActionLink("Создать пользователя", "Create", "Account")</li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Типы задач<b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Просмотр типов задач", "Index", "MathTaskTypes")</li>
                                    <li>@Html.ActionLink("Создать новый тип задач", "Create", "MathTaskTypes")</li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Группы<b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Просмотр групп", "Index", "StudentGroups")</li>
                                    <li>@Html.ActionLink("Создать группу", "Create", "StudentGroups")</li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                @Html.ActionLink("Заполнение БД", "StartIfAdmin", "Account", routeValues: null, htmlAttributes: new {title = "Account"})
                            </li>
                                
                        }
                        
                        <li class="nav-divider"></li>

                        @if (User.IsInRole("Student"))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Панель студента<b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Задачи для решения", "MyStudentMathTasks", "MathTask")</li>
                                    <li>@Html.ActionLink("Загрузить решение задачи", "Create", "MathTaskSolution")</li>
                                    <li>@Html.ActionLink("Мои загруженные решения задач", "MyIndex", "MathTaskSolution")</li>
                                </ul>
                            </li>
                        }
                        
                        @if (ViewContext.HttpContext.User.IsInRole("Teacher"))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Панель преподавателя<b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Загрузить задачу и назначить решателя", "Create", "MathTask")</li>
                                    <li>@Html.ActionLink("Мои загруженные задачи", "MyIndex", "MathTask")</li>
                                    <li>@Html.ActionLink("Правильные решения к моим задачам", "MyRightSolutions", "MathTaskSolution")</li>

                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Подтвержение правильности решений к моим задачам с обсуждениями в комментариях", "Index", "MathTaskSolution")</li>

                                </ul>
                            </li>
                        }

                        <li class="nav-divider"></li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </nav>


    <div class="container body-content" id="content">
        <div class="row-fluid">
            <br/>
            @RenderBody()
        </div>

        <hr/>
        <footer>
            <nav role="navigation" class="navbar navbar-default navbar-fixed-bottom navbar-static-top">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="https://vk.com/id23796378">Автор</a>
                    </div>
                    <!-- Collection of nav links and other content for toggling -->
                    <div id="navbarCollapse" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">

                            <li class="active">@Html.ActionLink("Отзывы", "Index", "RecallMessage")</li>

                            <li>
                                @Html.Partial("_LoginPartial")
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <span class="label label-success">Задач</span>
                                <span class="badge badge-warning">@Html.Action("GetCountOfAllRequests", "MathTask")</span>
                                <span class="label label-success">Пользователей</span>
                                <span class="badge badge-warning">@Html.Action("GetCountOfAllUsers", "MathTask")</span>
                                
                            </li>
                            <li>
                                @DateTime.Now.Year – Все права защищены
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </footer>

    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/helpdesk")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        // Используй Note.js для окошек
    
    </script>
</body>
</html>
